<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Generator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <h1>Welcome to Lyrics Generator!</h1>
    <h6>Here, you can generate lyrics by the artist of your choice</h6>
    <form action="{{url_for('lyricsGenerator') }}" method="post" id="form">
        <input type="text" id="search" name="search" placeholder="Search for an artist...">
        <input type="submit" id="submit">
    </form>
<div id="lyrics"
    {% for lyrics in lyrics %}
        <p>{{lyrics}}</p>
    {% endfor %}
</div>
</body>
</html>